.card-img-top {
  height: 300px;   
     
}


body {
    font-family: 'Arial', sans-serif;
    background-color:lightgray;
   
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  padding: 50px;
}

.carousel-caption {
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 10px;
}


.card:hover {
    transform: translateY(-10px);
    
    
}


.card h5, .card p {
    text-align: center;
}


.card .btn-warning {
    font-weight: bold;
}
